{% extends 'layouts/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

  <div id="app" class="container-fluid">

    <br/>

    <div class="text-center">
        <h1>About</h1>
        <br/>
        <h3>Nombre del proyecto  : Generador para tutoriales de guitarra</h3>
        <h3>Version : 1.1</h3>
        <h3>Descripción : Generador de tutoriales con capturas y descripciones de cada parte de la canción para después mostrar ordenadamente un tutorial</h3>
        <h3>Backend  : Django 4.1.7</h3>
        <h3>Frontend : Django con VueJS</h3>
        <h3>Autor : Ismael Heredia</h3>
      </div>

  </div>

{% endblock %}

