{% extends 'layouts/base.html' %}

{% block title %}Generador de tutoriales{% endblock %}

{% block content %}
  <div id="app" class="container-fluid">

    <br/>

    <h1 class="text-center" style="color: white;">Tutoriales de canciones</h1>

    <br/>

    <div class="row">
      <div class="col-lg-2">
        <b>Buscar por título</b>
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control" v-model="filtrar_titulo"/>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" @click="filtrarPorTitulo()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-2">
        <b>Filtrar por afinación</b>
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control" v-model="filtrar_afinacion"/>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" @click="filtrarPorAfinacion()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-2">
        <b>Filtrar por dificultad</b>
      </div>
      <div class="col-lg-1">
        <select class="form-select" v-model="filtrar_dificultad_id">
          <option value="">Ninguna</option>
          <option v-for = "dificultad in dificultades" :value="dificultad.id">[[dificultad.nombre]]</option>
        </select>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" @click="filtrarPorDificultad()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-2">
        <b>Filtrar por genéro</b>
      </div>
      <div class="col-lg-1">
        <select class="form-select" v-model="filtrar_genero_id">
          <option value="">Ninguno</option>
          <option v-for = "genero in generos" :value="genero.id">[[genero.nombre]]</option>
        </select>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" @click="filtrarPorGenero()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>

    <br/>

    <div v-if="!tutoriales.length" class="text-center">
      <b>No se encontraron registros de tutoriales</b>
      <br/>
      <br/>
    </div>
    <div v-if="tutoriales.length">
      <div style="height:700px; overflow:auto;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Afinación</th>
                    <th>Dificultad</th>
                    <th>Genéro</th>
                    <th>Link youtube</th>
                    <th>Capturas</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tutorial in tutoriales" :key="tutorial.id">
                    <td>[[tutorial.titulo]]</td>
                    <td>[[tutorial.afinacion]]</td>
                    <td>[[tutorial.dificultad]]</td>
                    <td>[[tutorial.genero]]</td>
                    <td><a target="_blank" :href="[[tutorial.link_youtube]]">[[tutorial.link_youtube]]</a></td>
                    <td>[[tutorial.capturas]]</td>
                    <td>[[convertirFecha(tutorial.fecha)]]</td>
                    <td>
                      <a href="#modalDatos" class="btn btn-primary" data-bs-toggle="modal" @click="editarTutorial(tutorial.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                      <a class="btn btn-primary" style="margin-left: 10px;" @click="borrarTutorial(tutorial.id)"><i class="fa fa-times" aria-hidden="true"></i> Borrar</a>
                      <a :href="'/capturas/' + [[tutorial.id]]" class="btn btn-primary" style="margin-left: 10px;"><i class="fa fa-file-image-o" aria-hidden="true"></i> Capturas</a>
                      <a :href="'/generar/' + [[tutorial.id]]" class="btn btn-primary" style="margin-left: 10px;"><i class="fa fa-cog" aria-hidden="true"></i> Generar</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div id="modalDatos" class="modal fade" tabindex="-1" aria-labelledby="datosModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="datosModalLabel">Datos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="titulo" class="col-form-label">Título:</label>
                <input type="text" class="form-control" id="titulo" v-model="titulo">
              </div>
              <div class="mb-3">
                <label for="titulo" class="col-form-label">Afinación:</label>
                <input type="text" class="form-control" id="afinacion" v-model="afinacion">
              </div>
              <div class="mb-3">
                <label for="dificultad" class="col-form-label">Dificultad:</label>
                <select class="form-select" v-model="dificultad_id">
                  <option v-for = "dificultad in dificultades" :value="dificultad.id">[[dificultad.nombre]]</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="genero" class="col-form-label">Genéro:</label>
                <select class="form-select" v-model="genero_id">
                  <option v-for = "genero in generos" :value="genero.id">[[genero.nombre]]</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="titulo" class="col-form-label">Youtube link:</label>
                <input type="text" class="form-control" id="link_youtube" v-model="link_youtube">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cerrar</button>
            <button type="button" class="btn btn-primary" @click="guardarTutorial()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center" style="margin-top:60px;margin-bottom: -100px;">
      <a href="#modalDatos" class="btn btn-primary" data-bs-toggle="modal" @click="nuevoTutorial()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar nuevo tutorial</a>
    </div>

  </div>

  <script>

    var url_api = "";

    const app = Vue.createApp({
      delimiters: ["[[", "]]"],
      data() {
        return {
            dificultades: [],
            generos: [],
            tutoriales: [],
            id: "",
            titulo: "",
            afinacion: "",
            dificultad_id: "",
            genero_id:"",
            link_youtube:"",
            editando: 0,
            filtrar_titulo: "",
            filtrar_afinacion: "",
            filtrar_dificultad_id: "",
            filtrar_genero_id: ""
        }
      },
      mounted: function() {
        this.listarTutoriales();
        this.listarDificultades();
        this.listarGeneros();
      },
      computed: {},
      methods: {
        limpiarFiltros: function() {
          this.filtrar_titulo = "";
          this.filtrar_afinacion = "";
          this.filtrar_dificultad_id = "";
          this.filtrar_genero_id = "";
        },
        listarTutoriales: function() {
          axios
          .post(url_api + "/api/tutoriales/")
          .then(response => {
            this.tutoriales = response.data.tutoriales
          })
          .catch(function (error) {
            console.log(error);
          })
        },
        listarDificultades: function() {
          axios
          .post(url_api + "/api/dificultades/")
          .then(response => {
            this.dificultades = response.data.dificultades
          })
          .catch(function (error) {
            console.log(error);
          })
        },
        listarGeneros: function() {
          axios
          .post(url_api + "/api/generos/")
          .then(response => {
            this.generos = response.data.generos
          })
          .catch(function (error) {
            console.log(error);
          })
        },
        nuevoTutorial: function() {
          this.editando = 0;
          this.titulo = "";
          this.afinacion = "Estándar";
          this.dificultad_id = 1;
          this.genero_id = 1;
          this.link_youtube = "###";
        },
        editarTutorial: function(id_tutorial) {
          this.editando = 1;
          this.id = id_tutorial;
          axios
          .post(url_api + "/api/tutoriales/cargar", {"id_tutorial":id_tutorial})
          .then(response => {
            var datos = response.data.tutorial[0];
            this.titulo = datos.titulo;
            this.afinacion = datos.afinacion;
            this.dificultad_id = datos.dificultad_id;
            this.genero_id = datos.genero_id;
            this.link_youtube = datos.link_youtube;
          })
          .catch(function (error) {
            console.log(error);
          })
        },
        guardarTutorial: function() {
          if(this.editando == 0) {
            axios
            .post(url_api + "/api/tutoriales/agregar",{"titulo":this.titulo,"afinacion":this.afinacion,"dificultad_id":this.dificultad_id,"genero_id":this.genero_id,"link_youtube":this.link_youtube})
            .then(response => {
              var datos = response.data;
              document.getElementById('close').click();
              this.listarTutoriales();
              toastr.success("La tarea fue guardada");
            })
            .catch(function (error) {
              console.log(error);
            })
          } else {
            axios
            .post(url_api + "/api/tutoriales/editar",{"id_tutorial":this.id,"titulo":this.titulo,"afinacion":this.afinacion,"dificultad_id":this.dificultad_id,"genero_id":this.genero_id,"link_youtube":this.link_youtube})
            .then(response => {
              var datos = response.data;
              document.getElementById('close').click();
              this.listarTutoriales();
              toastr.success("La tarea fue actualizada");
            })
            .catch(function (error) {
              console.log(error);
            })
          }
          this.limpiarFiltros();
        },
        borrarTutorial: function(id_tutorial) {
          Swal.fire({
          title: "Desea borrar el tutorial ?",
          showDenyButton: true,
          confirmButtonText: "Borrar",
          denyButtonText: "Cancelar",
          }).then((result) => {
            if (result.isConfirmed) {
              axios
              .post(url_api + "/api/tutoriales/borrar", {"id_tutorial":id_tutorial})
              .then(response => {
                var datos = response.data;
                this.listarTutoriales();
                toastr.success("El tutorial fue borrado");
              })
              .catch(function (error) {
                console.log(error);
              })
            }
          })
        },
        filtrarPorTitulo: function() {
          axios
            .post(url_api + "/api/tutoriales_filtro_titulo",{"filtro":this.filtrar_titulo})
            .then(response => {
              this.tutoriales = response.data.tutoriales;
            })
            .catch(function (error) {
              console.log(error);
            })
        },
        filtrarPorAfinacion: function() {
          axios
            .post(url_api + "/api/tutoriales_filtro_afinacion",{"filtro":this.filtrar_afinacion})
            .then(response => {
              this.tutoriales = response.data.tutoriales;
            })
            .catch(function (error) {
              console.log(error);
            })
        },
        filtrarPorDificultad: function() {
          axios
            .post(url_api + "/api/tutoriales_filtro_dificultad",{"filtro":this.filtrar_dificultad_id})
            .then(response => {
              this.tutoriales = response.data.tutoriales;
            })
            .catch(function (error) {
              console.log(error);
            })
        },
        filtrarPorGenero: function() {
          axios
            .post(url_api + "/api/tutoriales_filtro_genero",{"filtro":this.filtrar_genero_id})
            .then(response => {
              this.tutoriales = response.data.tutoriales;
            })
            .catch(function (error) {
              console.log(error);
            })
        }
        ,
        convertirFecha(fecha) {
          return moment(fecha).format("DD/MM/YYYY")
        }
      },
    });

    app.mount("#app");

    $(function() {
      $(".modal").modal();
    });

  </script>
{% endblock %}

